<section class="giscus mx-auto mt-10 w-full"></section>

<script src="https://giscus.app/client.js"
        data-repo="ryanda/ryanda.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMTEyNTgyOA=="
        data-category="Blog Post Comments"
        data-category-id="DIC_kwDOAUJaxM4CkJfv"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="transparent_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>